{% set disabled = disabled|default(false) %}
{% set rows = rows|default(5) %}
<div class="mb-3">
    <label class="form-label">{{ label }}</label>

    {{ form_widget(field, {
        attr: {
            class: 'form-control border border-1 border-secondary shadow-sm',
            rows: rows
        } | merge(disabled ? { disabled: 'disabled' } : {})
    }) }}
    {{ form_errors(field) }}
</div>
