{% for label, value, choice in field_choices(field) %}
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="{{ field_name(field) }}" id="inlineRadio1" value="{{ value }}" {% if value is same as field %}checked="checked"{% endif %}>
        <label class="form-check-label" for="inlineRadio1">{{ label }}</label>
    </div>
{% endfor %}
