{% set disabled = disabled|default(false) %}
<tr>
    {% if show_label is true %}
        <td><b>{{ label }}</b></td>
    {% endif %}
    {% for choice in form %}
        <td class="text-center">
            <label class="form-check-label mx-2">
                {{ form_widget(choice, {
                    attr: {
                        class: 'form-check-input',
                        style: 'border: 1px solid black;'
                    } | merge(disabled ? { disabled: 'disabled' } : {})
                }) }}
            </label>
        </td>
    {% endfor %}
</tr>
