<!-- input text -->
<div class="col-md-6">
    <label for="lastname" class="form-label fw-semibold">Nom</label>
    <input type="text" id="lastname" name="lastname" class="form-control" placeholder="Ex : Dupont" required>
</div>
<!-- input text adresse -->
<div class="mb-3">
    <label for="adresse" class="form-label">Adresse</label>
    <input type="text" class="form-control mb-2" id="adresse" aria-label="Adresse">
    <label for="ville" class="form-label">Ville</label>
    <input type="text" class="form-control" id="ville" aria-label="Ville">
</div>

<!--input text mail phone -->
<div class="input-group mb-3">
<input type="email" class="form-control" placeholder="Email" aria-label="Email">
<span class="input-group-text">tel</span>
<input type="tel" class="form-control" placeholder="Téléphone" aria-label="Téléphone">
</div>


