<tr>
    {% set disabled = disabled|default(false) %}
    {% if form_label is defined %}
        <td>{{ form_label(form) }}</td>
    {% endif %}
    <td  class="text-center">
        <label class="form-check-label mx-2">
            {{ form_widget(form, {
                attr: {
                    class: 'form-check-input border-dark',
                } | merge(disabled ? { disabled: 'disabled' } : {})
            }) }}
        </label>
    </td>
</tr>
