<tr>
    {% if form_label is defined %}
        <td><b>{{ form_label }}</b></td>
    {% endif %}
    {% for choice in form_field %}
        <td class="text-center">
            <label class="form-check-label mx-2">
                {{ form_widget(choice, {
                    'attr': {
                        'class': 'form-check-input',
                        'style': 'border: 2px solid black;'
                    }
                }) }}
            </label>
        </td>
    {% endfor %}
</tr>
