{% set disabled = disabled|default(false) %}
<div id="{{ form.vars.id }}" class="d-inline-flex w-100">
    {% if show_label is true %}
        <p class="mb-0"><b>{{ label }}</b></p>
    {% else %}{% endif %}
    <div class="radio-group w-75">
        {% for choice in form %}
            <label class="form-check-label mx-2">
                {{ form_widget(choice, {
                    attr: {
                        class: 'form-check-input',
                        style: 'border: 1px solid black;'
                    } | merge(disabled ? { disabled: 'disabled' } : {})
                }) }}
                {{ form_label(choice) }}
            </label>
        {% endfor %}
    </div>
</div>

