<tr>
    {% if form_label is defined %}
        <td>{{ form_label }}</td>
    {% endif %}
    <td  class="text-center">
        <label class="form-check-label mx-2">
            {{ form_widget(form_field, {'attr': {'class': 'form-check-input border-dark'}}) }}
        </label>
    </td>
</tr>
