{% set disabled = disabled|default(false) %}
<div class="mb-3">
    <label class="form-label">{{ label }}</label>
    {{ form_widget(field, {
        attr: {
            class: 'form-select border border-1 border-dark shadow-sm'
        } | merge(disabled ? { disabled: 'disabled' } : {})
    }) }}
    {{ form_errors(field) }}
</div>
