{% if prescription.step.name == 'Open' %}
    <span class="badge text-bg-info p-2">Prescription ouverte</span>
{% elseif prescription.step.name == 'Write' %}
    <span class="badge text-bg-info p-2">En cours de remplissage</span>
{% elseif prescription.step.name == 'TwoParts' %}
    <span class="badge text-bg-info p-2">Vu par les 2 parties</span>
{% elseif prescription.step.name == 'ValidCase' %}
    <span class="badge text-bg-info p-2">Prescription validée</span>
{% elseif prescription.step.name == 'GeneratePDF' %}
    <span class="badge text-bg-info p-2">Pdf généré</span>
{% elseif prescription.step.name == 'Signed' %}
    <span class="badge text-bg-info p-2">pdf signé par le bénéficiaire</span>
{% endif %}
