{% if prescription.step.name == 'Open' %}
    <span class="badge text-bg-info p-2">Prescription ouverte</span>
{% elseif prescription.step.name == 'OneParts' %}
    {% if prescription.status.name == 'OpenByPrescriptor' %}
        <span class="badge text-bg-info p-2">Vu par le Prescripteur</span>
    {% elseif prescription.status.name == 'OpenByMediator' %}
        <span class="badge text-bg-info p-2">Vu par le Médiateur</span>
    {% else %}
        <span class="badge text-bg-info p-2">En cours de remplissage</span>
    {% endif %}
{% elseif prescription.step.name == 'TwoParts' %}
    {% if prescription.status.name == 'OpenByPrescriptor' %}
        <span class="badge text-bg-info p-2">A valider par le Médiateur</span>
    {% elseif prescription.status.name == 'OpenByMediator' %}
        <span class="badge text-bg-info p-2">A valider par le Prescripteur</span>
    {% else %}
        <span class="badge text-bg-info p-2">Vu par les 2 parties</span>
    {% endif %}
{% elseif prescription.step.name == 'ChoiceEquipment' %}
    <span class="badge text-bg-info p-2">Choisir l'équipement</span>
{% elseif prescription.step.name == 'ValidCase' %}
    <a href="{{ path('app_generate_prescription_pdf', {'id': prescription.id}) }}" >Générer le PDF</a>
{% elseif prescription.step.name == 'GeneratePDF' %}
    {% if prescription.path is null %}
    {% else %}
        <div class="d-flex flex-row gap-2">
            <a href="{{ asset(prescription.path) }}" class="openModal circle text-decoration-none" data-bs-data="VIEW_PRESCRIPTION-Voir la prescription-{{ prescription.id }}"><i class="fa-sharp fa-light fa-file-pdf"></i></a>
            <a href="{{ path('app_gestapp_document_prescriptionsigned_manually', {'idprescription': prescription.id}) }}" class="openModal circle" data-bs-data="UPLOAD_PRESCRIPTIONSIGNED-Charger la prescription signée manuellement-"><i class="fa-sharp fa-light fa-arrow-down-to-bracket"></i></a>
        </div>
    {% endif %}
{% elseif prescription.step.name == 'Signed' %}
    <span class="badge text-bg-info p-2">pdf signé par le bénéficiaire</span>
{% endif %}
