{{ form_start(form) }}

<div class="row g-3">

    <div class="col-md-6">
        {% include 'composants/inputs/input_text.html.twig' with {
            label: 'Prénom',
            field: form.firstname
        } %}
    </div>

    <div class="col-md-6">
        {% include 'composants/inputs/input_text.html.twig' with {
            label: 'Nom',
            field: form.lastname
        } %}
    </div>

    <div class="col-md-6">
        {% include 'composants/inputs/input_select.html.twig' with {
            label: 'Civilité',
            field: form.civility
        } %}
    </div>

    <div class="col-md-6">
        {% include 'composants/inputs/input_radio.html.twig' with {
            label: 'Genre',
            field: form.gender
        } %}
    </div>

    <div class="col-md-6">
        {% include 'composants/inputs/input_select.html.twig' with {
            label: 'Tranche d’âge',
            field: form.ageGroup
        } %}
    </div>

    <div class="col-md-6">
        {% include 'composants/inputs/input_text.html.twig' with {
            label: 'Statut professionnel',
            field: form.professionnalStatus
        } %}
    </div>


</div>

<div class="mt-4">
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
</div>

{{ form_end(form) }}
