{{ form_start(form) }}

<div class="row">
    <div class="col-12">

        <div class="row">
            <div class="col-12 bg-light border-bottom border-dark mb-2">
                <h3 class="mt-2 mb-2">Le bénéficiaire</h3>
            </div>

            {% include 'composants/inputs/block_civility.html.twig' with {
                wrapper_class : 'col-8 mb-3',
                label: 'Prénom & Nom',
                civility: form.civility,
                firstname: form.firstname,
                lastname: form.lastname,
                show_label: true
            } %}
        </div>
        <div class="row">
            <div class="col-md-12">
                {% include 'composants/inputs/input_radio_horizontal.html.twig' with {
                    label: 'Age',
                    form: form.ageGroup,
                    show_label: true
                } %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% include 'composants/inputs/input_radio_horizontal.html.twig' with {
                    label: 'Situation',
                    form: form.professionnalStatus,
                    show_label: true
                } %}
            </div>
        </div>
    </div>
</div>
{{ form_rest(form) }}
{{ form_end(form) }}
