{% extends 'base.html.twig' %}

{% block title %}Modifier un bénéficiaire{% endblock %}

{% block body %}
    <div class=" mt-5">

        <h1 class="mb-4">Modifier le bénéficiaire</h1>

        {# Inclusion du formulaire principal #}
        {{ include('gestapp/beneficiary/_form.html.twig', {'button_label': 'Mettre à jour'}) }}


    </div>
{% endblock %}
