{% extends 'base.html.twig' %}

{% block title %}New Beneficiary{% endblock %}

{% block body %}
    <h1>Créer un nouveau bénéficiaire</h1>

    {{ include('gestapp/beneficiary/_form.html.twig') }}


{% endblock %}
