{% extends 'base.html.twig' %}

{% block title %}New Beneficiary{% endblock %}

{% block body %}
    <div class=" mt-5">
        <h1 class="mb-4">Créer un nouveau bénéficiaire</h1>
        {# Inclusion du formulaire principal #}
        {{ include('gestapp/beneficiary/_form.html.twig') }}
    </div>
{% endblock %}
