<h1>Confirmez votre email s'il vous plait</h1>

<p>
    Veuillez confirmer votre email en cliquant sur lien ci dessous: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon email</a>.
    ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    merci !
</p>
