body{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;

    main{
        #cards_infos{
            .card:hover{
                background: #f7f7f7;
            }
        }
    }
}

.circle {
    width: 30px;
    height: 30px;
    background-color: #f2f2f2;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: black; /* couleur de l’icône */
    font-size: 14px;
}

.circle:hover{
    background: rgba(0,0,0,0.2);}

#page_content {
    height: calc(90vh - 150px);
    overflow-y: auto;
    overflow-x: hidden;
}

table{
    font-size: 13px;
    .btn-sm{
        font-size: 13px;
    }
}

.table-container {
    max-height: 400px; /* ajuste selon ton besoin */
    overflow-y: auto;
}

/* Header sticky */
.table-container thead th {
    position: sticky;
    top: 0;
    //background: #f8f9fa; /* équivalent table-light Bootstrap */
    z-index: 2;
}

/* Optionnel mais recommandé */
.table-container table {
    border-collapse: separate;
    border-spacing: 0;
}
