<div class="container-fluid mt-auto bg-dark text-light pt-2 pb-2">
    <div class="row text-center">
        <div class="col"><a class="nav-link" href="{{ path('app_admin_dashboard_index') }}">© 2025 - Precrip Ordi Pin40</a></div>
        <div class="col"><a class="nav-link" href="{{ path('app_webapp_public_mentions') }}">Mentions Légales</a></div>
        <div class="col"><a class="nav-link" href="{{ path('app_webapp_public_contact') }}">Contact</a></div>
    </div>
</div>
