{% extends 'base.html.twig' %}

{% block title %}Edit prescription{% endblock %}

{% block body %}
    <h1>Edit prescription</h1>

    {{ include('gestapp/prescription/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_gestapp_prescription_index') }}">back to list</a>

    {{ include('gestapp/prescription/_delete_form.html.twig') }}
{% endblock %}
