{% extends 'base.html.twig' %}

{% block title %}Liste des prescriptions{% endblock %}

{% block body %}
    <div class="container mt-5">

        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="h3">Liste des prescriptions</h1>

            {% include 'composants/forms/button_creatnew.html.twig' with {
                label: 'Créer une prescription',
                href: path('app_gestapp_prescription_new')
            } %}
        </div>

        {% if prescriptions is not empty %}
            <div class="table-responsive">
                <table class="table table-striped table-bordered align-middle">
                    <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Référence</th>
                        <th>Créé le</th>
                        <th>Modifié le</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for prescription in prescriptions %}
                        <tr>
                            <td>{{ prescription.id }}</td>
                            <td>{{ prescription.ref }}</td>
                            <td>{{ prescription.createdAt ? prescription.createdAt|date('d/m/Y') : '' }}</td>
                            <td>{{ prescription.updatedAt ? prescription.updatedAt|date('d/m/Y') : '' }}</td>
                            <td class="text-center">
                                {% include 'composants/forms/button_link.html.twig' with {
                                    label: 'Voir',
                                    href: path('app_gestapp_prescription_show', {'id': prescription.id}),
                                    type: 'info'
                                } %}

                                {% include 'composants/forms/button_link.html.twig' with {
                                    label: 'Modifier',
                                    href: path('app_gestapp_prescription_edit', {'id': prescription.id}),
                                    type: 'warning'
                                } %}

                                {% include 'composants/forms/buttons_delete.html.twig' with {
                                    id: prescription.id,
                                    route: 'app_gestapp_prescription_delete'
                                } %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p class="text-center">Aucune prescription trouvée.</p>
        {% endif %}
    </div>
{% endblock %}
