{% extends 'base.html.twig' %}

{% block title %}Nouvelle prescription{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row mb-4">
            <div class="col-md-12">
                <h1 class="mb-0">Ouvrir une nouvelle prescription</h1>
                <p class="text-secondary">Référence : {{ prescription.ref }}</p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-12">
                <p class="text-secondary">Ce dossier est ouvert par : </p>
            </div>
        </div>
        {{ include('gestapp/prescription/_form.html.twig') }}
    </div>
{% endblock %}
