{% extends 'base.html.twig' %}

{% block title %}Nouvelle prescription{% endblock %}

{% block body %}
    <div class="container mt-5">

        <h1 class="mb-4">Créer une nouvelle prescription</h1>

        {{ include('gestapp/prescription/_form.html.twig') }}

        <div class="mt-4">
            <button class="btn btn-primary">Préenregistrer la demande</button>
        </div>

        <div class="mt-3">
            {% include 'composants/showsTable/button_return_list.html.twig' with {
                href: path('app_admin_dashboard_index'),
                label: 'Retour'
            } %}
        </div>

    </div>
{% endblock %}
