{{ form_start(form, {'attr': {'class': 'row g-3'}}) }}
<div class="col-md-6">{{ form_row(form.query) }}</div>
<div class="col-md-4">{{ form_row(form.prescriptor) }}</div>
<div class="col-md-2"><button class="btn btn-primary mt-4">Rechercher</button></div>
{{ form_end(form) }}
