{{ form_start(form) }}
<div class="row">
    <div class="col-12 bg-light border-bottom border-dark mb-2">
        <h3>Diagnostic des compétences numériques</h3>
    </div>
    <div class="col-12">
        <table class="table table-bordered table-striped">
            <tr>
                <th>Compétences</th>
                <th>Acquis</th>
                <th>En cours</th>
                <th>Non acquis</th>
            </tr>
            {% include 'composants/inputs/input_radio_tablerow.html.twig' with {
                form_label: 'Les bases',
                form_field: form.compBase
            } %}
            {% include 'composants/inputs/input_radio_tablerow.html.twig' with {
                form_label: 'Texte et documents',
                form_field: form.compDesk
            } %}
            {% include 'composants/inputs/input_radio_tablerow.html.twig' with {
                form_label: 'Internet',
                form_field: form.compInternet
            } %}
            {% include 'composants/inputs/input_radio_tablerow.html.twig' with {
                form_label: 'Messagerie electronique',
                form_field: form.compEmail
            } %}
        </table>



    </div>
    <div class="row g-3">
        <div class="col-md-6">
            {% include 'composants/inputs/input_checkbox_switch.html.twig' with {
                form_field: form.isAutoEva
            } %}
        </div>

    </div>
</div>
<div class="row">
    <div class="col-12 bg-light border-bottom border-dark mb-2">
        <h3>Les objectifs de la mediation</h3>
    </div>
    <div class="col-12 mb-2">
        <p class="mb-0">Compétences à travailler (référentiel DIGCOMP) : https//eduscol.education.fr/document/20392/download</p>
    </div>

    <div class="col-12 mb-2">
        <table class="table table-bordered table-hover">
            <tbody>

            <tr>
                <th>Compétences</th>
                <th>Objectifs</th>
            </tr>

            <tr>
                {% include 'composants/inputs/input_checkbox_tablerow.html.twig' with {
                    form_label: '0 - Compétences matérielles',
                    form_field: form.isDigComp0
                } %}
            </tr>

            <tr>
                {% include 'composants/inputs/input_checkbox_tablerow.html.twig' with {
                    form_label: '0 - Compétences matérielles',
                    form_field: form.isDigComp1
                } %}
            </tr>

            <tr>
                {% include 'composants/inputs/input_checkbox_tablerow.html.twig' with {
                    form_label: '0 - Compétences matérielles',
                    form_field: form.isDigComp2
                } %}
            </tr>

            <tr>
                {% include 'composants/inputs/input_checkbox_tablerow.html.twig' with {
                    form_label: '0 - Compétences matérielles',
                    form_field: form.isDigComp3
                } %}
            </tr>

            <tr>
                {% include 'composants/inputs/input_checkbox_tablerow.html.twig' with {
                    form_label: '0 - Compétences matérielles',
                    form_field: form.isDigComp4
                } %}
            </tr>

            <tr>
                {% include 'composants/inputs/input_checkbox_tablerow.html.twig' with {
                    form_label: '0 - Compétences matérielles',
                    form_field: form.isDigComp5
                } %}
            </tr>

            </tbody>
        </table>

        {% include 'composants/inputs/input_checkbox_switch.html.twig' with {
            form_field: form.isAutoEvaEnd
        } %}

    </div>

    <div class="col-md-12 mb-2">
        {% include 'composants/inputs/input_aera.html.twig' with {
            label: 'A completer par le médiateur',
            field: form.detailParcour
        } %}
    </div>

</div>

{{ form_end(form) }}
