{% extends 'base.html.twig' %}

{% block title %}Nouveau membre{% endblock %}

{% block body %}
    <div class="container mt-5">

        <h1 class="mb-4 fw-bold">Créer un nouveau membre</h1>

        <div class="card p-4 shadow-sm">
            {{ include('admin/member/_form.html.twig', {'button_label': 'Créer'}) }}
        </div>

        <div class="mt-3">
            {% include 'composants/forms/button_link.html.twig' with {
                href: path('app_admin_member_index'),
                label: 'Retour à la liste'
            } %}
        </div>

    </div>
{% endblock %}
