{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-4">
  <h1>Mentions légales</h1>
  <p>contact :</p>
  <p>prescription_pin40@club.com</p>
  <p>01 02 03 04 05</p>
  <p>JeanFrancois</p>
  <p>Adresse : 40 rue des ordis 40280 St Pierre du Mont</p>
  <p>Service de relation prescription - beneficiare</p>
  <p class="mt-3">
    <a href="{{ path('app_webapp_public_accueil') }}" >
       Retour à l'accueil
    </a>
  </p>
</div>
{% endblock %}
