{% extends 'base.html.twig' %}

{% block body %}
    <!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mentions légales - ALPI</title>
    </head>
    <body class="bg-light">
    <div class="container py-5">
        <div class="border border-1 shadow-sm p-4">
            <h1 class="mb-4 text-center">Mentions légales</h1>

            <p>
                En accédant à ce site, vous acceptez sans réserve les conditions décrites ci-dessous.
            </p>

            <h2 class="mt-5 h4 border-bottom pb-2">1 Editeur et Hebergeur du site</h2>
            <p>
                <a href="https://www.openpixl.fr/" class="text-decoration-none fw-bold" target="_blank">OpenPixl</a><br>
                <strong>Directeur :</strong> Mr Xavier Burke<br>
                <strong>Adresse :</strong> 20 avenue de Portal, résidence Guynemer, 40280 Saint Pierre du Mont<br>
                <strong>Téléphone :</strong> 07.87.99.42.80
            </p>

            <h2 class="mt-5 h4 border-bottom pb-2">3. Données personnelles et confidentialité</h2>
            <p>
                <a href="https://www.openpixl.fr/" class="text-decoration-none fw-bold" target="_blank">Open Pixl</a> traite et conserve certaines données personnelles dans le cadre de ses missions.
                Ces traitements respectent la réglementation en vigueur (notamment le RGPD).
            </p>

            <h4 class="mt-4">Vos droits</h4>
            <p>Conformément au RGPD, vous disposez des droits suivants :</p>

            <ul class="list-group mb-3">

                <li class="list-group-item list-group-item-action"
                    title="Le droit d’accès vous permet d’obtenir la confirmation que vos données personnelles sont traitées et d’en recevoir une copie.">
                    Droit d’accès
                </li>

                <li class="list-group-item list-group-item-action"
                    title="Le droit de rectification permet de corriger ou de compléter des données personnelles inexactes ou incomplètes.">
                    Droit de rectification
                </li>

                <li class="list-group-item list-group-item-action"
                    title="Le droit à l’effacement vous permet de demander la suppression de vos données personnelles lorsqu’elles ne sont plus nécessaires.">
                    Droit à l’effacement
                </li>

                <li class="list-group-item list-group-item-action"
                    title="Le droit d’opposition permet de vous opposer au traitement de vos données personnelles.">
                    Droit d’opposition
                </li>

                <li class="list-group-item list-group-item-action"
                    title="Le droit à la limitation suspend temporairement l’utilisation de vos données.">
                    Droit à la limitation du traitement
                </li>

                <li class="list-group-item list-group-item-action"
                    title="Le droit à la portabilité permet de récupérer vos données dans un format lisible par machine.">
                    Droit à la portabilité
                </li>

            </ul>

            <div class="alert">
                <p><strong>Pour exercer vos droits, adressez votre demande à :</strong></p>
                <p>
                    Si vous constatez une erreur ou un lien brisé, vous pouvez le signaler par mail à
                    <a href="mailto:contact@openpixl.fr" class="text-decoration-none fw-bold">contact@openpixl.fr</a>.
                </p>
            </div>

            <h5 class="mt-4">Délégué à la protection des données (DPO)</h5>
            <p>
                OpenPixl.fr<br>
                07.87.99.42.80
            </p>
            <p>
                En cas de désaccord, vous pouvez déposer une réclamation auprès de la
                <a href="https://www.cnil.fr/fr" class="link-primary">CNIL</a>.
            </p>

        </div>
    </div>
{% endblock %}
