{% extends 'base.html.twig' %}

{% block body %}

    <div class="container my-5">

        <div class="text-center mt-2 mb-3">
            <h1 class="text-success fw-bold">Dispositif « Mon Ordi Pin40 »</h1>
            <p class="text-muted fst-italic">
                Un projet solidaire pour favoriser l'inclusion numérique dans les Landes
            </p>
        </div>

        <div class="border rounded p-3 shadow-sm mb-2">
            <h2 class="h5 bg-success-subtle text-success-emphasis border-bottom pb-2 mb-3">Présentation</h2>
            <p>
                Le dispositif vise la dotation à titre gracieux d’un ordinateur portable reconditionné à des personnes physiques
                (associations exclues). Les ordinateurs, issus de l’opération
                <em>« 1 collégien, 1 ordinateur »</em> du Département des Landes, puis mis à disposition des écoles primaires
                du département, sont reconditionnés pour alimenter le dispositif
                <strong>« Mon Ordi Pin40 »</strong>.
            </p>

        </div>

        <!-- Critères d’éligibilité -->
        <div class="border rounded p-3 shadow-sm mb-2">
            <h2 class="h5 bg-success-subtle text-success-emphasis border-bottom pb-2 mb-3">Critères d’éligibilité</h2>
            <p>Pour être éligibles, les bénéficiaires doivent répondre à au moins un des trois critères suivants :</p>
            <ol class="list-group list-group-numbered list-group-flush">

            <li class="list-group-item">Un besoin d’équipement mais des ressources financières limitées ;</li>
                <li class="list-group-item">Un besoin de montée en compétences techniques entravé par l’absence de matériel ;</li>
                <li class="list-group-item">Un besoin d’accéder à l’autonomie numérique.</li>
            </ol>
        </div>

        <!-- Engagement du bénéficiaire -->
        <div class="border rounded p-3 shadow-sm mb-3">
            <h2 class="h5 bg-success-subtle text-success-emphasis border-bottom pb-2 mb-3">Engagement du bénéficiaire</h2>
            <p>
                Les bénéficiaires s’engagent à suivre jusqu’au bout le parcours défini par le médiateur numérique,
                à l’issue duquel ils se verront remettre l’ordinateur.
            </p>
        </div>

    </div>

{% endblock %}
