{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-4">
    <section>
    <h1>Dispositif « Mon Ordi Pin40 »</h1>
    
    <p>
      Le dispositif vise la dotation à titre gracieux d’un ordinateur portable reconditionné à des personnes physiques
      (associations exclues). Les ordinateurs, issus de l’opération « 1 collégien, 1 ordinateur » du Département des
      Landes, puis mis à disposition des écoles primaires du département, sont reconditionnés pour alimenter le
      dispositif « Mon Ordi Pin40 ».
    </p>

    <p>
      Le prescripteur organise l’accueil du bénéficiaire auprès d’un lieu de médiation numérique partenaire du
      dispositif. La liste des partenaires est consultable sur le lien suivant :
      <a href="https://www.pin40.fr/le-reseau/la-carte-desacteurs-du-reseau" target="_blank">
        Carte des acteurs du réseau
      </a>.
    </p>
  </section>

  <section>
    <h2>Critères d’éligibilité</h2>
    <p>Pour être éligibles, les bénéficiaires doivent répondre à au moins un des trois critères suivants :</p>
    <ul>
      <li>Un besoin d’équipement mais des ressources financières limitées ;</li>
      <li>Un besoin de montée en compétences techniques entravé par l’absence de matériel ;</li>
      <li>Un besoin d’accéder à l’autonomie numérique.</li>
    </ul>
  </section>

  <section>
    <h2>Engagement du bénéficiaire</h2>
    <p>
      Les bénéficiaires s’engagent à suivre jusqu’au bout le parcours défini par le médiateur numérique à l’issue
      duquel il se verra remettre l’ordinateur.
    </p>
  </section>

  <p class="mt-3">
    <a href="{{ path('app_webapp_public_accueil') }}" >
       Retour à l'accueil
    </a>
  </p>
</div>
{% endblock %}
