{# Bloc Bénéficiaire #}
<div class="col-12 mb-2">
    <div class="row">
        <div class="col-12 bg-light border-bottom border-dark mb-2">
            <h3 class="h4 mt-1 mb-1">Le bénéficiaire</h3>
        </div>
        {# Boucle selon la route #}
        {% if app.request.attributes.get('_route') == 'app_gestapp_prescription_new' %}
            <div class="col-md-3">
                {% include 'composants/inputs/input_select.html.twig' with {
                    label: 'Bénéficiaire',
                    field: form.beneficiaire,
                    disabled: ''
                } %}
            </div>
            <div class="col-md-3 d-flex align-items-end">
                <a href="{{ path('app_gestapp_beneficiary_new2') }}" class="btn btn-sm btn-primary mb-3 openModal" data-bs-data="ADD_BENEFICIARY-Ajout d'un bénéficiaire-">
                    <i class="fa-duotone fa-solid fa-circle-user-circle-plus"></i> Ajouter un bénéficiaire
                </a>
            </div>
        {% elseif app.request.attributes.get('_route') == 'app_gestapp_prescription_edit' %}
            <div class="row">

                <div class="col-md-3">
                    {% include 'composants/inputs/input_select.html.twig' with {
                        label: 'Bénéficiaire',
                        field: form.beneficiaire,
                        disabled: ''
                    } %}
                </div>
            </div>
        {% endif %}
    </div>
</div>
