<table class="table table-bordered table-hover align-middle shadow-sm rounded-3 bg-white">
  <thead class="table-primary">
    <tr>
      <th colspan="2" class="text-center fs-5">Détails du membre</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="w-25 text-primary">ID</th>
      <td>1</td>
    </tr>
    <tr>
      <th scope="row" class="text-primary">Email</th>
      <td>exemple@email.com</td>
    </tr>
    <tr>
      <th scope="row" class="text-primary">Rôles</th>
      <td><code>["ROLE_USER"]</code></td>
    </tr>
    <tr>
      <th scope="row" class="text-primary">Mot de passe</th>
      <td><span class="text-muted">••••••••••••</span></td>
    </tr>
    <tr class="table-light">
      <th scope="row" class="text-primary">Nom de la structure</th>
      <td>Association Exemple</td>
    </tr>
    <tr>
      <th scope="row" class="text-primary">Adresse</th>
      <td>12 Rue de la Paix</td>
    </tr>
    <tr>
      <th scope="row" class="text-primary">Code postal</th>
      <td>75001</td>
    </tr>
    <tr>
      <th scope="row" class="text-primary">Ville</th>
      <td>Paris</td>
    </tr>
    <tr class="table-light">
      <th scope="row" class="text-primary">Email de contact</th>
      <td>contact@exemple.org</td>
    </tr>
    <tr>
      <th scope="row" class="text-primary">Téléphone de contact</th>
      <td>01 23 45 67 89</td>
    </tr>
    <tr>
      <th scope="row" class="text-primary">Prénom du responsable</th>
      <td>Jean</td>
    </tr>
    <tr>
      <th scope="row" class="text-primary">Nom du responsable</th>
      <td>Dupont</td>
    </tr>
    <tr>
      <th scope="row" class="text-primary">Civilité du responsable</th>
      <td
