<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://kit.fontawesome.com/1fb9149f4c.js" crossorigin="anonymous"></script>
        {% endblock %}
    </head>

    <body data-page="{{ app.current_route }}">
        <header class="mb-3">
            <!-- NAVBAR -->
            {% include 'include/navbar.html.twig' %}
        </header>

        <!-- CONTENU -->
        <main class="container">
            {% block body %}
            {% endblock %}
            {% block modals %}
                {% include 'include/modals.html.twig' %}
            {% endblock %}
            <!-- Modal -->
        </main>

        <!-- FOOTER -->
        <footer class="mt-5">
            {% include 'include/footer.html.twig' %}
        </footer>

    </body>
</html>
