<a href="{{ href|default('#') }}"
   class="
    {% if style is defined and style is not null %}
        {{ style }}
    {% else %}
        btn btn-outline-success
    {% endif %}
">
    <i class="bi bi-plus-circle"></i> {{ label }}
</a>
