<a href="{{ href|default('#') }}"
   class="
    {% if style is defined and style is not null %}
        {{ style }}
    {% else %}
        btn btn-sm btn-outline-dark
    {% endif %}
">
    {{ icon|raw }} {{ label }}
</a>
