<div class="mb-3">
  <label for="email" class="form-label">Adresse email</label>
  <input type="email" class="form-control" id="email" placeholder="Entrer votre email">
</div>

<div class="mb-3">
  <label for="structureName" class="form-label">Nom de la structure</label>
  <input type="text" class="form-control" id="structureName" placeholder="Nom de la structure">
</div>
<div class="mb-3">
  <label for="address" class="form-label">Adresse</label>
  <input type="text" class="form-control" id="address" placeholder="Adresse">
</div>
<div class="mb-3">
  <label for="zipcode" class="form-label">Code postal</label>
  <input type="text" class="form-control" id="zipcode" placeholder="Code postal">   
</div>
<div class="mb-3">  
  <label for="city" class="form-label">Ville</label>
  <input type="text" class="form-control" id="city" placeholder="Ville">
</div>         
<div class="form-check">
  <input class="isverified" type="checkbox" value="" id="isverified">
  <label class="isverified" for="checkDefault">
    Default checkbox
  </label>
</div>
<button type="button" class="btn btn-danger">DELETE</button>

<button type="button" class="btn btn-primary"><a href="/admin/member/">back to list</a></button>