<section>
    {{ form_start(form) }}

    <div class="row g-2">
        <h2 class="h4 mb-0">Le matériel</h2>
        <div class="col-12">
            <div class="row g-2">
                <div class="col-md-2">
                    {% include 'composants/inputs/input_text.html.twig' with {
                        form: form.equipmentId,
                        disabled: false,
                        show_label: false
                    } %}
                </div>
                <div class="col-md-2">
                    {% include 'composants/inputs/input_text.html.twig' with {
                        form: form.matriculEquipment,
                        disabled: false,
                        show_label: false
                    } %}
                </div>
                <div class="col-md-2">
                    {% include 'composants/inputs/input_select.html.twig' with {
                        form: form.typeEquipment,
                        show_label: false
                    } %}
                </div>
                <div class="col-md-2">
                    {% include 'composants/inputs/input_text.html.twig' with {
                        form: form.brandEquipment,
                        disabled: false,
                        show_label: false
                    } %}
                </div>
                <div class="col-md-2">
                    {% include 'composants/inputs/input_select.html.twig' with {
                        form: form.osInstalled,
                        show_label: false
                    } %}
                </div>
                <div class="col-md-2">
                    {% include 'composants/inputs/input_select.html.twig' with {
                        form: form.statusEquipment,
                        show_label: false
                    } %}
                </div>
            </div>
            <div class="row g-2">
                <h2 class="h4 mb-0">Informations complémentaires</h2>
                <div class="col-md-8">
                    {% include 'composants/inputs/input_textarea.html.twig' with {
                        form: form.note,
                        show_label: false
                    } %}
                </div>
            </div>
            <div class="row align-items-center g-2">
                <div class="col-md-3">
                    {% include 'composants/inputs/input_text.html.twig' with {
                        form: form.recoveryAt,
                        disabled: false,
                        show_label: false
                    } %}
                </div>
                <div class="col-md-3">
                    {% include 'composants/inputs/input_text.html.twig' with {
                        form: form.reconditioner,
                        disabled: false,
                        show_label: false
                    } %}
                </div>

                <div class="col-md-3">
                    {% include 'composants/forms/check_verif.html.twig' with {
                        form: form.isDispo,
                        show_label: false
                    } %}
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 mt-4 mb-4">
            <a class="btn btn-sm btn-outline-dark" href="{{ path('app_admin_dashboard_index') }}"><i class="fa-duotone fa-solid fa-chevrons-left"></i>&nbsp;Retour</a>
            <button id="btnAddPrescription" class="btn btn-outline-primary btn-sm"><i class="fa-duotone fa-solid fa-circle-check"></i> Ajouter l'équipement</button>
        </div>
    </div>
    {{ form_end(form) }}
</section>

