{{ form_start(form) }}

<div class="row g-3">

    <div class="col-md-6">
        {% include 'composants/inputs/input_select.html.twig' with {
            label: 'Type d’équipement',
            field: form.typeEquipment
        } %}
    </div>

    <div class="col-md-6">
        {% include 'composants/inputs/input_text.html.twig' with {
            label: 'Marque',
            field: form.brandEquipment
        } %}
    </div>

    <div class="col-md-6">
        {% include 'composants/inputs/input_text.html.twig' with {
            label: 'Matricule',
            field: form.matriculEquipment
        } %}
    </div>

    <div class="col-md-6">
        {% include 'composants/inputs/input_select.html.twig' with {
            label: 'OS installé',
            field: form.osInstalled
        } %}
    </div>

    <div class="col-md-6">
        {% include 'composants/inputs/input_select.html.twig' with {
            label: 'Statut',
            field: form.statusEquipment
        } %}
    </div>

    <div class="col-md-6">
        {% include 'composants/inputs/input_radio.html.twig' with {
            label: 'Disponible',
            field: form.isDispo
        } %}
    </div>

</div>

<div class="mt-4">
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
</div>

{{ form_end(form) }}
