{% extends 'base.html.twig' %}

{% block title %}Modifier l’équipement{% endblock %}

{% block body %}
    {# Bloc entête de page #}
    <section id="page_header">
        {# Bloc entête de page #}
        {%
            include 'composants/pages/pages_headers.html.twig' with {
            'page_title' : 'Liste des équipements disponibles à la dotation',
            'li_items': [
                { path: 'app_admin_dashboard_index', fa_class: 'fa-sharp-duotone fa-solid fa-house-blank', a_title: 'Dashboard' },
                { path: 'app_gestapp_equipment_index', fa_class: 'fa-sharp fa-light fa-laptop', a_title: 'équipements' },
                { path: null, fa_class: 'fa-sharp fa-light fa-laptop', a_title: 'Ajouter un nouvel équipement' },
            ],
            'btns' : [
                {'path': path('app_gestapp_equipment_new'), 'id':'btnAddEquipment', 'class' : 'btn btn-outline-dark btn-sm', 'fa_class' : 'fa-duotone fa-solid fa-circle-user-circle-plus', 'textcontent' : 'Ajouter un équipement'},
            ]
        }
        %}
    </section>

    <section id="page_content">
        <h1 class="h3 mb-4">Modifier l’équipement</h1>
        {{ include('gestapp/equipment/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    </section>
    <section id="page_footer">

    </section>



{% endblock %}
