{% extends 'base.html.twig' %}

{% block title %}Modifier l’équipement{% endblock %}

{% block body %}
    <div class="container mt-5">

        <h1 class="mb-4">Modifier l’équipement</h1>

        <div class="card p-4 shadow-sm">
            {% include 'gestapp/equipment/_form.html.twig' with {
                form: form,
                button_label: 'Mettre à jour'
            } %}
        </div>

        <div class="mt-3 d-flex gap-2">
            {% include 'composants/showsTable/button_return_list.html.twig' with {
                href: path('app_gestapp_equipment_index'),
                label: 'Retour à la liste'
            } %}

            {% include 'composants/showsTable/buttons_delete.html.twig' with {
                id: equipment.id,
                route: 'app_gestapp_equipment_delete'
            } %}
        </div>
    </div>
{% endblock %}
