{% extends 'base.html.twig' %}

{% block title %}New Equipment{% endblock %}

{% block body %}
    <h1>Enregistrer nouveau equipement</h1>

    {{ include('gestapp/equipment/_form.html.twig') }}

{% endblock %}
